body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#category{
    font-weight: bold;
    font-size: large;
}

.img-smartphone{
    width: 4em;    
}

.visibility{
    display: none;
}

h4{
    margin-bottom: 0;
}

footer p {
    margin-top: 0;
}

.link {
    color: darkgoldenrod;
    font-weight: bold;
    text-decoration: none;
}

.prezzi{
    font-weight: bold; 
}